.btn-see-more{
    margin-top: 50px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 35px;
    font-weight: 500; 
    background-color: #2a2a2a;
    color: #fff;
    transition: all .3s;
}

.btn-see-more:hover{
    background-color: #fff;
    color: #2a2a2a;
    border: 1px solid #2a2a2a;
    
}
.text-logo{
    color: #2a2a2a;    
    font-size: 22px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
}
.text-logo1{
    font-weight: 700;
    font-size: 17px;  
    margin-bottom: 0px;
}
.text-logo2{
    color: rgb(140, 137, 137);  
    font-size: 11px;
    text-transform: capitalize;  
    margin-bottom: 10px;
    font-weight: 500;
}
/* about css */

.trans::after{
    display: none!important;
}
.language ul li{
    cursor: pointer;
    color: #2a2a2a;
    font-weight: 600;
}
.trans span{
    font-weight: 600;
    color: #2a2a2a;
    padding-left: 5px;
    padding-top: 5px;
}